/* TODO: update so photos in cards rezise dynamically */

.portfolioColumn {
    float: left;
    width: 20%;
}

@media only screen and (max-width: 1200px){
    .portfolioColumn {
        width: 33.33%;
    }
}

@media only screen and (max-width: 800px){
    .portfolioColumn {
        width: 50%;
    }
}

@media only screen and (max-width: 500px){
    .portfolioColumn {
        width: 100%;
    }
}