* {
    box-sizing: border-box;
}

h3 {
    text-shadow: 2px 2px lightgrey;
}

#hero_image {
    position: relative;
    overflow: auto;
    margin: 1% auto auto auto;
}

#hero_image img {
    width: 100%;
}

.location_caption {
    font-size: 32px;
    padding: 8px 12px;
    position: absolute;
    top: 40%;
    left: 40%;
    width: 20%;
    text-align: center;
    background-image: radial-gradient(rgba(241,241,241,0.8), rgba(241,241,241,0.1));
    border-radius: 6px;
}

.card img {
    width: 100%;
}

/* Side-margins*/
.row {
    margin: 8px -16px;
}

/* Padding between columns */
.row,
.row > .column {
    padding: 8px;
}

/* float four columns side-by-side */
.column {
    float: left;
    width: 25%;
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* style white background on cards */
.card {
    background-color: white;
    padding: 10px;
}

body {
    /*
        For "n" images we define:
        a=presentation time for one image
        b=duration for cross fading
        Total animation-duration is of course t=(a+b)*n
     */
    --slideshow-presentation-time: 5000;
    --slideshow-crossfade-duration: 3000;
    --slideshow-num-images: 28;
    --slideshow-animation-duration: calc((var(--slideshow-presentation-time) + var(--slideshow-crossfade-duration))
                                    * var(--slideshow-num-images));
    --slideshow-animation-delay: calc(var(--slideshow-presentation-time) + var(--slideshow-crossfade-duration));
}

@keyframes fadeInOut {
    /*
    Percentage for keyframes:
        1) 0%
        2) a/t*100% (IN THIS CASE: 2.2321%)
        3) (a+b)/t*100% = 1/n*100% (IN THIS CASE: 3.5714%)
        4) 100%-(b/t*100%) (IN THIS CASE: 98.6607%)
        5) 100%
     */
    0% {
        opacity:1;
    }
    2.2321 %{
        opacity:1;
    }
    3.5714% {
        opacity:0;
    }
    98.6607% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.slide {
    /*position: relative;*/
    position: absolute;
    animation-name: fadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: var(--slideshow-animation-duration);
}

.slide:nth-of-type(1) {
    animation-delay: 0ms;
}
.slide:nth-of-type(2) {
    animation-delay: calc(var(--slideshow-animation-delay) * 1)ms;
}
.slide:nth-of-type(3) {
    animation-delay: calc(var(--slideshow-animation-delay) * 2)ms;
}
.slide:nth-of-type(4) {
    animation-delay: calc(var(--slideshow-animation-delay) * 3)ms;
}
.slide:nth-of-type(5) {
    animation-delay: calc(var(--slideshow-animation-delay) * 4)ms;
}
.slide:nth-of-type(6) {
    animation-delay: calc(var(--slideshow-animation-delay) * 5)ms;
}
.slide:nth-of-type(7) {
    animation-delay: calc(var(--slideshow-animation-delay) * 6)ms;
}
.slide:nth-of-type(8) {
    animation-delay: calc(var(--slideshow-animation-delay) * 7)ms;
}
.slide:nth-of-type(9) {
    animation-delay: calc(var(--slideshow-animation-delay) * 8)ms;
}
.slide:nth-of-type(10) {
    animation-delay: calc(var(--slideshow-animation-delay) * 9)ms;
}
.slide:nth-of-type(11) {
    animation-delay: calc(var(--slideshow-animation-delay) * 10)ms;
}
.slide:nth-of-type(12) {
    animation-delay: calc(var(--slideshow-animation-delay) * 11)ms;
}
.slide:nth-of-type(13) {
    animation-delay: calc(var(--slideshow-animation-delay) * 12)ms;
}
.slide:nth-of-type(14) {
    animation-delay: calc(var(--slideshow-animation-delay) * 13)ms;
}
.slide:nth-of-type(15) {
    animation-delay: calc(var(--slideshow-animation-delay) * 14)ms;
}
.slide:nth-of-type(16) {
    animation-delay: calc(var(--slideshow-animation-delay) * 15)ms;
}
.slide:nth-of-type(17) {
    animation-delay: calc(var(--slideshow-animation-delay) * 16)ms;
}
.slide:nth-of-type(18) {
    animation-delay: calc(var(--slideshow-animation-delay) * 17)ms;
}
.slide:nth-of-type(19) {
    animation-delay: calc(var(--slideshow-animation-delay) * 18)ms;
}
.slide:nth-of-type(20) {
    animation-delay: calc(var(--slideshow-animation-delay) * 19)ms;
}
.slide:nth-of-type(21) {
    animation-delay: calc(var(--slideshow-animation-delay) * 20)ms;
}
.slide:nth-of-type(22) {
    animation-delay: calc(var(--slideshow-animation-delay) * 21)ms;
}
.slide:nth-of-type(23) {
    animation-delay: calc(var(--slideshow-animation-delay) * 22)ms;
}
.slide:nth-of-type(24) {
    animation-delay: calc(var(--slideshow-animation-delay) * 23)ms;
}
.slide:nth-of-type(25) {
    animation-delay: calc(var(--slideshow-animation-delay) * 24)ms;
}
.slide:nth-of-type(26) {
    animation-delay: calc(var(--slideshow-animation-delay) * 25)ms;
}
.slide:nth-of-type(27) {
    animation-delay: calc(var(--slideshow-animation-delay) * 26)ms;
}
.slide:nth-of-type(28) {
    animation-delay: calc(var(--slideshow-animation-delay) * 27)ms;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes a one-column stack instead of two columns*/
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}